@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Jalnan", "Inter", sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/Jalnan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
